.timer-container{
    margin-bottom: -35px;
}
.countdown-timer section p.numb,
.countdown-timer span.clone{
    font-family: 'League Spartan', sans-serif;
}
a.github-pages{
	font-size: 35px;
	font-weight: 600;
    color: #00c5df;
    margin-top: 35px;
    text-decoration: none;
    transition: 0.5s;
}
a.github-pages:hover{
    color: #00d5ef;
    text-decoration: underline;
}
@media screen and (max-width: 1024px) {
    .timer-container{
        margin-bottom: -25px;
    }
    a.github-pages{
        font-size: 32.5px;
    }
}
@media screen and (max-width: 925px) {
    a.github-pages{
        font-size: 28.5px;
    }
}
@media screen and (max-width: 850px) {
    a.github-pages{
        font-size: 25px;
    }
}
@media screen and (max-width: 768px) {
    .timer-container{
        margin-bottom: -42.5px;
    }
    a.github-pages{
        font-size: 35px;
        font-weight: 700;
    }
}
@media screen and (max-width: 725px) {
    .timer-container{
        margin-bottom: -35px;
    }
    a.github-pages{
        font-size: 32.5px;
    }
}
@media screen and (max-width: 650px) {
    a.github-pages{
        font-size: 28.5px;
    }
}
@media screen and (max-width: 585px) {
    a.github-pages{
        font-size: 25px;
    }
}
@media screen and (max-width: 545px) {
    .timer-container{
        margin-bottom: -38.5px;
    }
    a.github-pages{
        font-size: 35px;
        font-weight: 700;
    }
}
@media screen and (max-width: 500px) {
    .timer-container{
        margin-bottom: -32.5px;
    }
    a.github-pages{
        font-size: 32.5px;
    }
}
@media screen and (max-width: 450px) {
    a.github-pages{
        font-size: 28.5px;
    }
}
@media screen and (max-width: 385px) {
    a.github-pages{
        font-size: 25px;
    }
}
@media screen and (max-width: 325px) {
    a.github-pages{
        font-size: 23.5px;
    }
}